body{
    background-color: bisque;
    body {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
  font-style: oblique;
  text-align: center;
  }
  h2{
    font-style: italic;
    text-align: center;
  }
  h3{
    font-style: oblique;
    text-align: center;
  }

p {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

}
